@charset="UTF-8";


 html, body, h1, h2, h3, ul, li, a, p,
 
 article, aside, footer, header, main, nav, section{

}

h1{
margin-top: 5px;
margin-bottom:5px;
color:black;
text-align:center;
padding-top: 10px;
padding-bottom:0px;
font-size: 20px;
}


header{
background-color:#ABB7B7;
margin: 2px;
height: 40px;
width: 356px;
position:relative;

}


body {
background-color: #f0f0f0;
font-family: "Arial";
font-size: 15px;
}

td{
 margin: auto;
 color:black;
 text-align:center;
 border-style: solid;
 border-color:gray;
 border-width: 1px;
 height: 30px;
 }

table{
background-color: #e2e3e3;
/* border-style: solid;
border-width: 1px; */
}

th{
color:white;
height: 45px;
width:180px;

}
tr:hover{
background-color: darkgray

}



div{
display: inline-table;

}


.tab01{
width:360px;
height:400px;
position:relative;
}

.tab02{
width:360px;
height:400px;
position:relative;
}
.tab03{
width:360px;
height:400px;
}

.tab05{
width:360px;
height:400px;
position:relative;
}

.tab06{
width:360px;
height:400px;
}

.tab07{
width:360x;
height:500px;
}

.tab08{
width:360px;
height:500px;
}

.tab09{
width:360px;
height:500px;
}

.tab01 th {
background-color: #446CB3;
}

.tab02 th {
background-color: #D91E18;
}

.tab03 th {
background-color: #1E824C;
}

.tab04 th {
background-color: #EB9532;
}

.tab05 th {
background-color: #674172;
}

.tab06 th {
background-color: #34495E;
}

/* .tab07 th {
background: linear-gradient(#015a65,#022f3d);
} */

.tab08 th {
background-color: #34495E;
}
.tab09 th {
background-color: #34495E;
}




